<!DOCTYPE html>
<html>
    <head>
        <title>CoinBlock</title>
    </head>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    * {
         background-image:url('https://www.teahub.io/photos/full/200-2002662_super-mario-land-background.gif'); background-repeat:repeat; //imagte link https://www.teahub.io/photos/full/200-2002662_super-mario-land-background.gif
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }
</style>

<div>
    <h1>Welcome back Mario, please punch the block to get a coin!</h1><br>
    <body>
        
        <form>
            <button type="button" onClick="audio.play();"> <img src="https://gonintendo.com/uploads/file_upload/upload/71764/nintendo-block.jpg" height ="640" width="640" /></button>

            <script>
                const audio = new Audio();
                audio.src = "MarioCoinSound.mp3"; //sound link https://djlunatique.com/mario-coin-sound-sound-effect/
                
            </script>
        </form>
       

    </body>
    
</div>
